html{
    height: 100%;
  }


*{
    box-sizing: border-box;
}
  
body { 
    margin: 0; 
    display: grid;
    height: 100%;
    /* grid-template-areas:
        "header_section ."
        "Site-content_section sidebar_section "
        "footer_section ."; */

    grid-template-areas:
    "header_section "
    "Site-content_section "
    "footer_section ";

    grid-template-rows: 75px 100% 50px; /* 100px for header, 100% for content section, 50px for footer */
    grid-template-columns: 100%;
    /* grid-template-columns: 95% 5%; */

}

.header { 
    grid-area: header_section;
    background-color: black;
    position: sticky;
    border-bottom: 5px solid black;
    top: 0;
   

}

/* .sidebar{
    grid-area: sidebar_section;
    background-color: rgb(255, 255, 255);
} */


.footer {
    grid-area: footer_section;
    background-color: black;
}


ul{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* float: right; */
    list-style-type: none;
    /* margin: auto; */
    /* margin-top: 30px;
    min-height: 400px;
    margin-right: 60px; */
    font-size: 17px;
}

ul li{
    display: inline-block;
    margin-top: 15px;
}

ul li a{
    text-decoration: none;
    /* color: white;
    padding: 14x 20px;
    font-size: 23px;
    margin: 10px;
    transition: 0.5 ease;

    float: left; */
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 23px;
    margin: 5px;

}

ul li a:hover{
    background-color: white;
    color: black;
    border: none;
    border-radius: 20px; 
}

ul li a:active{
    background-color: black;
    color: white;
}


.logo img{
    float: left;
    width: 150px;
    height: auto;
    margin-top: 0;
    margin-left: 30px; 
}


.Site-content { 
    grid-area: Site-content_section;
    background-color: white; 
    display: flex;
    flex-wrap: wrap;
}

.navigation{
    flex-basis: 35%;
    flex-grow: 0;
    flex-shrink: 1;
}

.navigation img{
    width: 96%;
    height: 100%;
}

.content{
    flex-basis: 65%;
    flex-grow: 1;
    flex-shrink: 0;
}




