h1{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -10px;
}

body{
background-color: white;
font-size: large;
font-family: Georgia, serif;
}

.topnav {
overflow: hidden;
background-color: white;
}

.topnav a {
float: right;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: black;
color: white;
}

.centered-wrapper {
    position: relative;
    text-align: center;
    margin-top: 50px;
}

.centered-wrapper:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 0; height: 100%;
    vertical-align: middle;
}

.centered-content {
    display: inline-block;
    vertical-align: middle;
}

.first_img{
    max-width: 100%;
    max-height: 100%;
    float: left;
    padding-top: 40px;
}

.first_container{
    align-items: center;
    justify-content: center;
}

.first_text{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    float: left;
}

.first_img_container{
    position: relative;
    text-align: center;
    color:white;
}

.home_txt_centered{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Playfair Display ;
    font-size:large;
}
