h1{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: -10px;
}

body{
background-color: white;
font-size: large;
font-family: Georgia, serif;
}

.topnav {
    overflow: hidden;
    background-color: white;

}

.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
    /* border: none; */
    /* Border radius is used to set the circle border? */
}

.topnav a:hover {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px; 
}

.centered-wrapper {
    position: relative;
    text-align: center;
    margin-top: 30px;
}

/* .centered-wrapper:before {
    content: "";
    position: relative;
    display: inline-block;
    width: 0; height: 100%;
    vertical-align: middle;
} */

.centered-content {
    display: inline-block;
    vertical-align:baseline;
}

.first_img{
    max-width: 100%;
    max-height: 100%;
    float: left;
    padding-top: 40px;
}

.first_container{
    align-items: center;
    justify-content: center;
}

.first_text{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    float: left;
}

.first_img_container{
    position: relative;
    text-align: center;
    color:white;
}

.home_txt_centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Playfair Display ;
    font-size:large;
}

.animatebackground{
  width: 200px;
  height: 200px;
  background-image: url("IMG/background_pic.jpg");
  background-position: 0px 0px;
  background-repeat: repeat-x;
  animation: animatedBackground 10s linear infinite alternate;
}

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  
