
body{
    height: 100%;
    background-color: white;
    font-size: large;
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
}

.topnav {
    overflow: hidden;
    background-color: white;

}

.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
    /* border: none; */
    /* Border radius is used to set the circle border? */
}

.topnav a:hover {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px; 
}

img {
    padding: 0;
    margin: 0 auto;
    display:block;
    max-height: 100%;
    max-width: 100%;
    
}

